initialize() {
defineConstant("seed",getSeed());
	initializeMutationRate(1e-7);
	// m1 mutation type: neutral
	initializeMutationType("m1", 0.5, "f", 0.0);
	initializeMutationType("m2", benedom, "s", "return runif(1,1/(N*2),10/(N*2));");
	initializeMutationType("m3", deledom, "s", "return -runif(1,1/(N*2),10/(N*2));");
	// g1 genomic element type: uses m1 for all mutations
	initializeMutationType("m4",0.5,"f",0.0);  //dele for males
	initializeMutationType("m5",0.5,"f",0.0); //dele for females
//SA PLACEHOLDERS BEING NEUTRAL 
c(m4,m5).mutationStackPolicy='f';
	initializeGenomicElementType("g1", m1, 1.0); 
	initializeGenomicElement(g1, 0, 99999);	initializeGenomicElementType("g2",c(m1,m2,m3,m4,m5),c(fneu*(1-a),fpos*(1-a),fdel*(1-a),(a/2),(a/2)));
initializeGenomicElement(g2,100000,499999);
	initializeGenomicElement(g1,500000,599999);
	initializeRecombinationRate(1e-8);
	initializeSex("A");
	}

// create a population of 500 individuals
1 early() {
	sim.addSubpop("p1",N, 0.5);	
}
burnin late(){
print("start sa selection");
sim.mutationsOfType(m4).setValue("dom",sadom);
sim.mutationsOfType(m4).setSelectionCoeff(sasc);
sim.mutationsOfType(m5).setValue("dom",sadom);
sim.mutationsOfType(m5).setSelectionCoeff(-sasc);
}
mutationEffect(m4) {
if(community.tick<burnin){
return 1.0;}
else{
	if(individual.sex=='F')
	return effect;
	else
	return 1/effect;
	}
}
mutationEffect(m5) {
if(community.tick<burnin){
return 1.0;}
else{
return individual.sex=='F' ? 1/effect else effect;
}
}


/*
burnin:2000 late(){
malegenomes=sim.subpopulations.individuals[sim.subpopulations.individuals.sex=='M'].genomes;
femalegenomes=sim.subpopulations.individuals[sim.subpopulations.individuals.sex=='F'].genomes;
}
*/
2000 late(){
sim.subpopulations.genomes.outputVCF(filePath="/home/kl10g17/spaceness/timema/mutstackm4m5_"+"startpop_"+N+"sasc_"+sasc+"sadom_"+sadom+"seed_"+seed+".vcf");
sim.outputFixedMutations();
inds=p1.individuals;
for(ind in inds){
cat("ID: "+ind.index+", sex, "+ind.sex+"\n");
cat("\n");
}
sim.simulationFinished();
}
